* {
	box-sizing: border-box;
}

/* ======= Header ======= */
.header {
	position: relative;
	padding: 10px 0;
	background: #f5f5f5;
	border-top: 10px solid #778492;
}

.header div {
	position: relative;
	height: 100%;
}

.header .profile-image {
	margin-right: 30px;
	position: relative;
	z-index: 3;
}
.header .profile-content .name {
	color: #49515A;
	font-size: 38px;
	margin-bottom: 5px;
	margin-top: 10px;
	margin-left: 30px;
}
.header .profile-content .desc {
	color: #778492;
	font-family: "Lato", arial, sans-serif;
	font-weight: 400;
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 15px;
	margin-left: 50px;
}

.header .profile-content .social {
	margin-left: 35px;
}

.header .profile-content .social a {
	background: #b0b7bf;
	width: 36px;
	height: 36px;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	color: #fff;
	text-align: center;
}
.header .profile-content .social a:hover {
	background: #778492;
}
.header .profile-content .social a .fa {
	font-size: 20px;
	padding-top: 8px;
}

/* end header*/

/*footer*/
.footer {
	position: relative;
	padding: 10px 0;
	background: #f5f5f5;
}


/*end footer*/
.logo {
	position: absolute;
	top: 0;
	right: 100px;
	border: 0;
	z-index: 10;
}

.clear {
	clear: left;
}

.menu {
	overflow: auto;
	padding: 0;
}
.menu, .menu * {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.menu ul {
	padding: 0;
	margin: 7px 0;
}
.menu ul li {
	list-style: none;
	padding: 20px 0 20px 50px;
	font-size: 20px;
	font-weight: normal;
	cursor: pointer;
}
.menu ul li.active {
	background-color: #dedede;
	position: relative;
}
.menu ul li a {
	color: rgb(51, 51, 51);
	text-decoration: none;
}

/*page style*/

.pages {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 4;
	padding: 0;
	overflow: auto;
	width: 80%
}
.pages > div {
	padding-top: 64px;
}

.pages .header {
	color: rgb(82, 101, 162);
	font-size: 24px;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 60px;
	letter-spacing: 1.20000004768372px;
}

.page {
	transform: translateY(1080px);
	transition: transform 0 linear;
	display: none;
	opacity: 0;
	font-size: 16px;
}

.page.active {
	transform: translateY(0px);
	transition: all 0.3s ease-out;
	display: block;
	opacity: 1;
}

#opensource {
	color: rgba(0, 0, 0, 0.62);
	position: fixed;
	margin-top: 50px;
	margin-left: 50px;
	z-index: 100;
}

#source-modal h4 {
	color: black;
}

/* Timeline */

#timeline {
	list-style: none;
	position: relative;
}
#timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 2px;
	background-color: #4997cd;
	left: 50%;
	margin-left: -1.5px;
}
#timeline .clearFix {
	clear: both;
	height: 0;
}
#timeline .timeline-badge {
	color: #fff;
	width: 60px;
	height: 50px;
	font-size: 1.2em;
	text-align: center;
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -30px;
	background-color: #4997cd;
	z-index: 100;
	border-top-right-radius: 5%;
	border-top-left-radius: 5%;
	border-bottom-right-radius: 5%;
	border-bottom-left-radius: 5%;
}
#timeline .timeline-badge span.timeline-balloon-date-day {
	font-size: 1.2em;
}
#timeline .timeline-badge span.timeline-balloon-date-month {
	font-size: 1.2em;
	position: relative;
	top: -10px;
}
#timeline .timeline-badge.timeline-filter-movement {
	background-color: #ffffff;
	font-size: 1.7em;
	height: 35px;
	margin-left: -18px;
	width: 35px;
	top: 40px;
}
#timeline .timeline-badge.timeline-filter-movement a span {
	color: #4997cd;
	font-size: 1.3em;
	top: -1px;
}
#timeline .timeline-badge.timeline-future-movement {
	background-color: #ffffff;
	height: 35px;
	width: 35px;
	font-size: 1.7em;
	top: -16px;
	margin-left: -18px;
}
#timeline .timeline-badge.timeline-future-movement a span {
	color: #4997cd;
	font-size: .9em;
	top: 2px;
	left: 1px;
}
#timeline .timeline-movement {
	border-bottom: dashed 1px #4997cd;
	position: relative;
}
#timeline .timeline-movement.timeline-movement-top {
	height: 60px;
}
#timeline .timeline-movement .timeline-item {
	padding: 20px 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel {
	border: 1px solid #d4d4d4;
	border-radius: 3px;
	background-color: #FFFFFF;
	color: #666;
	padding: 10px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul {
	text-align: right;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li {
	color: #666;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li span.importo {
	color: #468c1f;
	font-size: 1.3em;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul {
	text-align: left;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul span.importo {
	color: #e2001a;
	font-size: 1.3em;
}
/* end timeline */